<div class="h-tot">
  <div class="container">
    <div class="row justify-content-center d-flex">
      <div class="justify-content-center d-flex p-0" style="flex-wrap: wrap;">
        <img src="../assets/bayc2.jpg" class="rounded-circle " alt="perfil-imagen" >
      </div>
      <div class="justify-content-center d-flex mt-5 mb-3 p-0">
        <h1>Sebastián Amin Fariña</h1>
      </div>
      <div class="row">
        <div class=" text-center my-3">
          <p>Fullstack Developer <span class="badge bg-danger">Future</span></p>
          <p>Systems Engineer <span class="badge bg-danger">Future</span></p>
          <p>Professional Soccer Player <span class="badge bg-danger">Future</span></p>
        </div>
      </div>
      <div class="border-top border-1 border-secondary w-50 p-0"></div>
      <div class="row">
        <div class="justify-content-center d-flex listadoIconos my-3">
          <a href="https://github.com/amin-farina" target="_blank" class="elDespues"><i class="bi bgitlab "></i></a>
          <a href="https://github.com/amin-farina" target="_blank" class="elDespues"><i class="bi bi-github "></i></a>
          <a href="https://www.linkedin.com/in/sebasti%C3%A1n-amin-fari%C3%B1a-aab0ba1b3/" target="_blank" class="elDespues"><i class="bi bi-linkedin"></i></a>
          <a href="https://twitter.com/aminsebastianok" target="_blank" class="elDespues"><i class="bi bi-twitter"></i></a>
          <a href="mailto:aminsfarina@gmail.com" target="_blank" class="elDespues"><i class="bi bi-envelope-fill "></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
