.h-tot {
  background-color: rgba(239,151,45, 0.9);
}

.rounded-circle{
  box-shadow: rgba(211, 132, 37, 0.25) 0px 54px 55px, rgba(211, 132, 37, 0.12) 0px -12px 30px, rgba(211, 132, 37, 0.12) 0px 4px 6px, rgba(211, 132, 37, 0.17) 0px 12px 13px, rgba(211, 132, 37, 0.09) 0px -3px 5px;
  width: 30%;
  margin-top: 5rem;
}

h2,
h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 3.5rem;
}

p {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
}

p span {
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;

}

.listadoIconos a{
  text-decoration: none;
}

.listadoIconos a i {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 30px;
  width: 30px;
  height: 34px;
  color: black;
}


.listadoIconos {
  align-items: center;
  justify-content:center;
  display: flex;
}


.elDespues:hover {
  border: 1px solid black;
  border-radius: 10px;
  background: rgb(190, 131, 22);
}

.bgitlab {
  content: url('../../../assets/icons/gitlab-3.svg');
}
