.h-tot {
  background-color: rgba(239,151,45, 0.9);
}

.rounded-circle{
  box-shadow: rgba(211, 132, 37, 0.25) 0px 54px 55px, rgba(211, 132, 37, 0.12) 0px -12px 30px, rgba(211, 132, 37, 0.12) 0px 4px 6px, rgba(211, 132, 37, 0.17) 0px 12px 13px, rgba(211, 132, 37, 0.09) 0px -3px 5px;
  width: 30%;
  margin-top: 5rem;
}

h2,
h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 3.5rem;
}
