<div class="text-center h-100 pt-5" style="background-color:rgb(209, 209, 211)">
  <div class="container">

    <div class="col-12 p-5" style="border: 2px solid">
      <div>
        <h2>Rellenar el formulario de ingreso</h2>
      </div>
      <form [formGroup]="form"  (ngSubmit)="onEnviar($event)">
        <label for="username">Username</label><br>
        <input type="text" formControlName="username">
        <br>
        <label for="email">Email</label><br>
        <input type="email" formControlName="email">
        <div *ngIf="Email?.errors && Email?.touched">
          <p *ngIf="Email?.hasError('required')" class="error">
            El Email es requerido
          </p>
          <p *ngIf="Email?.hasError('email')" class="error">
            El formato del mail no es valido
          </p>
        </div>
        <br>
        <label for="exampleInputPassword1" class="form-label">Password</label><br>
        <input type="password" formControlName="password" [class.border-danger]="EmailValid"><br>
        <div *ngIf="Password?.errors && Password?.touched">
          <p *ngIf="Password?.hasError('required')" class="error">
            El password es requerido.
          </p>
          <p *ngIf="Password?.errors?.['minlength']" class="error">
            El password debe ser de 8 o más caracteres.
          </p>
        </div>
        <!-- Aparece el boton ENVIAR, luego de que todos los campos son validados-->
        <div *ngIf="form.valid">
          <button class="mt-3" type="submit">Iniciar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12">
    <p>Un debuger para mostrar que es posible hacer un biding directo al formulario</p>
      <br>
      <p>Email: <strong>{{ form.value.email }} </strong></p>
      <p>Password: <strong>{{ form.value.password }} </strong> </p>
  </div>

</div>
